asgiref==3.7.2
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
decorator==4.0.11
Django==4.2.3
facebook-sdk==3.1.0
google-api-core==2.11.1
google-api-python-client==2.92.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.1
httplib2==0.22.0
idna==3.4
imageio==2.1.2
InstagramAPI==1.0.2
moviepy==0.2.3.2
numpy==1.25.0
Pillow==10.0.0
protobuf==4.23.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.1.0
requests==2.31.0
requests-toolbelt==0.7.0
rsa==4.9
six==1.16.0
sqlparse==0.4.4
tqdm==4.11.2
typing_extensions==4.7.1
uritemplate==4.1.1
urllib3==1.26.16
